* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#app {
    width: 60%;
}

.tabs {
    display: flex;
    width: 100%;
    border-bottom: 2px solid grey;
}

.tab {
    padding: 1rem 1.6rem;
    font-size: large;
    border: 2px solid grey;
    border-bottom: 0;
    outline: 0;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

#content {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

li {
    list-style: none;
}

li>div>div:nth-child(1) {
    font-size: 1.2rem;
    font-weight: bold;
}

li>div>div:nth-child(2) {
    font-size: 1rem;
}